<html>
  <title>x</title>
  <body>
    <form action="/cookieAdd" method="POST">
      <input type="text" name="username" placeholder="username here" />
      <input type="text" name="lastname" placeholder="lastname here" />
      <button type="submit">Gönder</button>
    </form>
  </body>
</html>
