<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: red;">
        <% if (!err) { %>
            <h1>xd</h1>
        <% } else { %>
             <h1>YVAR  <h1> <%= err %> </h1></h1>
        <% } %>
    </h1>
    <form action="/register" method="POST">
        <input type="text" name="username">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="password" name="passwordConformation">
        <input type="tel" name="phone_number">
        <button type="submit">XD</button>
    </form>
</body>
</html>